<html>
  <head>
    <meta charset="utf-8">
    <title>Error 404</title>
    <%- include('head.ejs')%>
  </head>

  <body>
    <%- include('header.ejs')%>

    <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-4 col-lg-4 col-sm-12 login-background">
          <h2>Error 404</h2>
          <img src="Images/404.gif" alt="404" width="100%">
        </div>
      </div>
    </div>
    

    <%- include('footer.ejs')%>
  </body>
</html>