<header class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-3 col-ld-3 col-ms-12 col-xs-12">
        <div class="row align-items-center">
          <div class="col-md-4 col-ld-4 col-ms-4 col-xs-4"><!--col-md-1 col-ld-1 col-ms-12 col-xs-12-->
            <img id="logo" src="Images/Soul_Logo.png" alt="Logo" width="80" height="80">
          </div>
          <div class="col-md-8 col-ld-8 col-ms-8 col-xs-8"><!--col-md-2 col-ld-2 col-ms-12 col-xs-12-->
            <a href="http://localhost:3000/"><h1>GNOME</h1></a>
            <small>L'ame de la Pop Culture</small>
          </div>
        </div>
      </div>
      
      <div class="col-md-5 col-ld-5 col-ms-12 col-xs-12">
        <!--<h2>Search Bar</h2>-->
        <div class="input-group md-form form-sm form-2 pl-0">
          <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Je recherche..." aria-label="Search">
          <div class="input-group-append">
            <span class="input-group-text amber lighten-3" id="basic-text1"><i class="fas fa-search"
                aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-ld-4 col-ms-12 col-xs-12">
        <div class="row align-items-center">
          <div class="col-md-4 col-ld-4 col-ms-12 col-xs-12"><!--col-md-4 col-ld-4 col-ms-12 col-xs-12-->
            <a href="#">
              <img id="Wishlist" src="Images/Wishlist.png" alt="Wishlist" width="50" height="50">
              Wishlist
            </a>
          </div>
          <div class="col-md-4 col-ld-4 col-ms-12 col-xs-12">
            <a href="#">
              <img id="Cart" src="Images/Cart.png" alt="Cart" width="50" height="50">
              Cart
            </a>
          </div>
          <div class="col-md-4 col-ld-4 col-ms-12 col-xs-12">
            <a href="http://localhost:3000/user/login">
              <img id="Login" src="Images/User.png" alt="Login" width="50" height="50">
              Login
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center"><!--container-fluid-->
      <!-- Need to work this part -->
        <nav class="col-md-10 col-lg-10 col-sm-12 hidden-xs" id="menu">
            <ul class="row"> 
                <li class="col-md-2 col-lg-2 col-sm-12 hidden-xs"><a href="#">Livres, Comics, Mangas</a></li>
                <li class="col-md-2 col-lg-2 col-sm-12 hidden-xs"><a href="#">Jeux vidéo, Consoles</a></li>
                <li class="col-md-2 col-lg-2 col-sm-12 hidden-xs"><a href="#">Informatique</a></li>
                <li class="col-md-2 col-lg-2 col-sm-12 hidden-xs"><a href="#">Produits dérivés</a></li>
                <li class="col-md-2 col-lg-2 col-sm-12 hidden-xs"><a href="#">Evènements</a></li>
                <li class="col-md-2 col-lg-2 col-sm-12 hidden-xs"><a href="#">Actu Pop Culture</a></li>
            </ul>
        </nav>
    </div>
  </header>