<html>
  <head>
    <meta charset="utf-8">
    <title>Change password</title>
    <%- include('head.ejs')%>
  </head>

  <body>
    <%- include('header.ejs')%>

    <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-lg-6 col-sm-12 login-background">
          <h2><%= session.username %></h2>
            <form id='form' action="http://localhost:3000/users/updatePassword" method="POST">
              <input id='oldPassword' name="oldPassword" type="password" placeholder="Ancien mot de passe" />
              <input id='newPassword' name="newPassword" type="password" placeholder="Nouveau mot de passe" />
              <input id='verifPassword' name="verifiedPassword" type="password" placeholder="Vérification nouveau mot de passe" />
              <input type="submit" value="Valider" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('footer.ejs')%>
  </body>

  <script>
    $('#form').submit(function(){
      let oldPass = $('#oldPassword').val()
      let newPass = $('#newPassword').val()
      let verif = $('#verifPassword').val()
      if(newPass == ""){
        alert('Le mot de passe ne peut pas être vide')
        return false
      }
      else{
        if(newPass != verif){
          alert('Les mots de passe ne sont pas identiques')
          return false
        }
        else{
          if(newPass === oldPass){
            alert('Le nouveau mot de passe ne peut pas être identique à l\'ancien')
            return false
          }
      }
    }
    })
  </script>

</html>