/**{
  border: 1px solid black;
}*/

.row{
  padding: 0px;
}

.col-md-10, .col-lg-10, .col-sm-12{
  padding: 0px;
}

body{
  background-color: #2A2A2A;
}

header, .main-body{
  background-color: #FFFFFF;
}

.main-annonce{
  background-color: lightgrey;
}

/*
ul{
  list-style: none;
  display: block;
  width: 80%;
  margin: auto
}
*/
header ul li{
  display: inline-block;
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
  transition: all 0.4s;
}

a:hover{
  color: orange;
  text-decoration: none;
  transition: all 0.4s;
}

h1{
  margin-bottom: 0px;
}

.carousel-inner > .carousel-item > img{
  width: 100%;
  height: 400px;
  margin: auto;
}

.promo-accueil{
  width: 70%;
  height: 200px;
  margin: auto;
  display: block;
}

.annonce{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer{
  min-height: 200px;
  color: orange;
  background-color: #2A2A2A;
  text-align: center;
}

footer .row {
  min-height: 200px;
}

footer h3{
  text-align: center;
}

/*LOGIN PAGE*/
.login-background{
  margin-top: 30px;
  min-height: 400px;
  background-color: #FFFFFF;
}

.login-background h2{
  margin-top: 10px;
  text-align: center;
  color: #2A2A2A;
}

.login-background input{
  display: block;
  margin: auto;
  margin-top: 40px;
  height: 40px;
  width: 80%;
  border-radius: 5px;
  border: 2px solid #AAAAAA;
}

.login-background input:focus{
  outline: none !important;
  border-color: orange;
}

.login-background input[type=submit]{
  margin-top: 80px;
  border: none;
  background-color: #2A2A2A;
  color: orange;
  transition: all 0.6s
}

.login-background input[type=submit]:hover{
  border: none;
  background-color: orange;
  color: #2A2A2A;
  transition: all 0.6s
}

.login-background p{
  text-align: center;
}

.login-background a{
  color: orange;
  transition: all 0.6s;
}

.login-background a:hover{
  color: #2A2A2A;
  transition: all 0.6s;
}
/*END LOGIN PAGE*/

/*REGISTER PAGE*/
/*END REGISTER PAGE*/

/*404*/
.login-background img{
  display: block;
  margin: auto;
}
/*END 404*/

/*NEW ARTICLE PAGE*/
.login-background textarea{
  display: block;
  margin: auto;
  margin-top: 40px;
  height: 120px;
  width: 80%;
  border-radius: 5px;
  border: 2px solid #AAAAAA;
}

.login-background textarea:focus{
  display: block;
  margin: auto;
  margin-top: 40px;
  height: 120px;
  width: 80%;
  border-radius: 5px;
  border: 2px solid orange;
}

.login-background select{
  display: block;
  margin: auto;
  margin-top: 40px;
  height: 40px;
  width: 80%;
  border-radius: 5px;
  border: 2px solid #AAAAAA;
}

.login-background select:focus{
  display: block;
  margin: auto;
  margin-top: 40px;
  height: 40px;
  width: 80%;
  border-radius: 5px;
  border: 2px solid orange;
}

/*END NEW ARTICLE PAGE*/

/*SEARCH BAR src :https://stackoverflow.com/questions/28285813/style-jquery-autocomplete-in-a-bootstrap-input-field*/
.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
padding: 3px 20px;
}
.ui-autocomplete > li:hover {
  background-color: orange;
}
.ui-autocomplete > li.ui-state-focus {
background-color: #DDD;
}

.ui-helper-hidden-accessible {
display: none;
}
/*END SEARCH BAR*/

.article-list{
  background-color: lightgrey;
}

.article-list div, .article-list a{  
  background-color: white;
  margin-top: 5px;
}

.article-list div img{
  width: 100%;
}

.article-list .content{
  padding-left: 50px;
}

/*ARRTICLE PAGE*/
.imarticle{
  width: 100%;
}

.article-description{
  margin-top: 10px;
  text-align: justify;
}

.article-description p{
  text-align: justify;
  margin-right: 30px;
  margin-top: 40px;
}

.article-price{
  text-align: justify;
}

.article-description button{
  border-radius: 5px;
  height: 40px;
  border: none;
  background-color: #2A2A2A;
  color: orange;
  transition: all 0.6s
}

.article-description button:hover{
  border: none;
  background-color: orange;
  color: #2A2A2A;
  transition: all 0.6s
}
/*END ARTICLE PAGE*/